apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
data:
  username: "{{ mongodb_user | b64encode }}"
  password: "{{ mongodb_password | b64encode }}"
  admin_password: "{{ mongodb_admin_password | b64encode }}"
  keyfile: "{{ mongodb_keyfile_value | b64encode }}"
