- kind: PersistentVolumeClaim
  apiVersion: v1
  metadata:
    name: rocketchat-mongodb
    labels:
      app: rocketchat
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi

- kind: StatefulSet
  apiVersion: apps/v1
  metadata:
    name: rocketchat-mongodb
    labels:
      app: rocketchat
      service: rocketchat-mongodb
  spec:
    updateStrategy:
      type: RollingUpdate
    replicas: 1
    test: false
    selector:
      matchLabels:
        service: rocketchat-mongodb
    template:
      metadata:
        labels:
          service: rocketchat-mongodb
      spec:
        volumes:
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: rocketchat-mongodb
        containers:
        - name: mongodb
          image: registry.access.redhat.com/rhscl/mongodb-36-rhel7:1-45
          command:
            - '/usr/bin/run-mongod-replication'
          ports:
          - containerPort: 27017
            protocol: TCP
          env:
          - name: MONGODB_DATABASE
            value: rocketchat
          - name: MONGODB_USER
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: username
          - name: MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: password
          - name: MONGODB_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: admin_password
          - name: MONGODB_REPLICA_NAME
            value: rs0
          - name: MONGODB_KEYFILE_VALUE
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: keyfile
          resources:
            limits:
              memory: 512Mi
          volumeMounts:
          - name: mongodb-data
            mountPath: "/var/lib/mongodb/data"
          livenessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 30
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
              - "/bin/sh"
              - "-i"
              - "-c"
              - mongo 127.0.0.1:27017/$MONGODB_DATABASE -u $MONGODB_USER -p $MONGODB_PASSWORD
                --eval="quit()"
            initialDelaySeconds: 3
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: "/dev/termination-log"
          imagePullPolicy: IfNotPresent
          securityContext:
            capabilities: {}
            privileged: false
        restartPolicy: Always
        terminationGracePeriodSeconds: 30
        dnsPolicy: ClusterFirst
        securityContext: {}

- kind: Service
  apiVersion: v1
  metadata:
    name: rocketchat-mongodb
    labels:
      app: rocketchat
      service: rocketchat-mongodb
  spec:
    ports:
    - name: mongo
      protocol: TCP
      port: 27017
      targetPort: 27017
    selector:
      service: rocketchat-mongodb
    type: ClusterIP
    clusterIP: None
