- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: "rocketchat"
    labels:
      app: rocketchat
  spec:
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 25%
        maxSurge: 25%
      resources: {}
    replicas: 1
    test: false
    selector:
      matchLabels:
        app: rocketchat
    template:
      metadata:
        labels:
          app: rocketchat
      spec:
        volumes:
        - name: rocketchat-volume-1
          emptyDir: {}
        containers:
        - name: rocketchat
          image: registry.connect.redhat.com/rocketchat/rocketchat:1.1.1-19
          ports:
          - containerPort: 3000
            protocol: TCP
          env:
          - name: ROOT_URL
            value: "{{ rocketchat_url }}"
          - name: Accounts_Default_User_Preferences_notificationsSoundVolume
            value: "0"
          - name: Show_Setup_Wizard
            value: completed
          - name: ADMIN_USERNAME
            valueFrom:
              secretKeyRef:
                name: rocketchat-secret
                key: username
          - name: ADMIN_PASS
            valueFrom:
              secretKeyRef:
                name: rocketchat-secret
                key: password
          - name: ADMIN_EMAIL
            valueFrom:
              secretKeyRef:
                name: rocketchat-secret
                key: email
          - name: MONGODB_USER
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: username
          - name: MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: password
          - name: MONGODB_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: admin_password
          - name: MONGO_URL
            value: "mongodb://$(MONGODB_USER):$(MONGODB_PASSWORD)@rocketchat-mongodb:27017/rocketchat"
          - name: MONGO_OPLOG_URL
            value: "mongodb://admin:$(MONGODB_ADMIN_PASSWORD)@rocketchat-mongodb:27017/local?authSource=admin&replSet=rs0"
          resources: {}
          volumeMounts:
          - name: rocketchat-volume-1
            mountPath: /app/uploads
          readinessProbe:
            httpGet:
              path: /api/v1/settings.public
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /api/v1/settings.public
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
          imagePullPolicy: Always
        restartPolicy: Always
        terminationGracePeriodSeconds: 30
        dnsPolicy: ClusterFirst
        securityContext: {}


- kind: Service
  apiVersion: v1
  metadata:
    name: rocketchat
    labels:
      app: rocketchat
  spec:
    ports:
    - name: 3000-tcp
      protocol: TCP
      port: 3000
      targetPort: 3000
    selector:
      app: rocketchat
    type: ClusterIP
    sessionAffinity: None

- kind: Route
  apiVersion: v1
  metadata:
    name: rocketchat
    labels:
      app: rocketchat
  spec:
    to:
      kind: Service
      name: rocketchat
    port:
      targetPort: 3000-tcp
    tls:
      termination: edge
      insecureEdgeTerminationPolicy: Redirect
