- apiVersion: autoscaling.openshift.io/v1
  kind: ClusterAutoscaler
  metadata:
    name: default
  spec:
    podPriorityThreshhold: -10
    resourceLimits:
      maxNodesTotal: {{ cluster_max_nodes_total|int }}
      cores:
        min: {{ cluster_min_cores|int }}
        max: {{ cluster_max_cores|int }}
      memory:
        min: {{ cluster_min_ram_gb|int }}
        max: {{ cluster_max_ram_gb|int }}
    scaleDown:
      enabled: true
      delayAfterAdd: 10m
      delayAfterDelete: 5m
      delayAfterFailure: 30s
      unneededTime: 60s
