{% for machineset in machinesets|json_query("resources[].metadata.name") %}
- apiVersion: machine.openshift.io/v1beta1
  kind: MachineSet
  metadata:
    name: '{{ machineset }}'
  spec:
    template:
      spec:
        providerSpec:
          value:
            instanceType: {{ cluster_worker_machine_type }}
{% endfor %}
