<org.jenkinsci.plugin.gitea.credentials.PersonalAccessTokenImpl plugin="gitea@1.2.1">
    <scope>GLOBAL</scope>
    <id>platform-gitea-token</id>
    <description>Platform Gitea Token</description>
    <token>{{ gitea_token }}</token>
</org.jenkinsci.plugin.gitea.credentials.PersonalAccessTokenImpl>
