- name: Wait for Gitea to finish being created
  k8s_info:
    api_version: v1alpha1
    kind: Gitea
    namespace: '{{ gitea_project_name }}'
    name: gitea-server
  register: result
  until: result.resources[0].status | json_query("conditions[?(@.reason=='Successful')]")
  retries: 10
  delay: 30

# This is super hacky, I know... but it works for now. Will need fixing.
# Intent is to eventually clean up the operator and add more levers to the CRD.
- name: Create users in Gitea
  shell: |
    oc='{{ oc_cli }}'
    admin_user='{{ workshop_admin.username }}'
    admin_password='{{ workshop_admin.password }}'
    if [ $($oc whoami) != "$admin_user" ]; then
        $oc login --insecure-skip-tls-verify=true -u "$admin_user" -p "$admin_password" || exit 1
    fi

    {% for user in workshop_users %}
    args=(--username {{ user.username }} --password '{{ user.password }}')
    {% if user.admin is defined and user.admin %}
    args+=(--admin)
    {% endif %}
    args+=(--email '{{ user.username }}@{{ full_cluster_name }}')
    args+=(--access-token --must-change-password=false)

    pod=$($oc get pods -n {{ gitea_project_name }} -l app=gitea-server -o jsonpath='{.items[0].metadata.name}')
    echo "running: $oc exec $pod -n {{ gitea_project_name }} -- /home/gitea/gitea --config=/home/gitea/conf/app.ini admin create-user ${args[@]}"
    output=$($oc exec $pod -n {{ gitea_project_name }} -- /home/gitea/gitea --config=/home/gitea/conf/app.ini admin create-user "${args[@]}" 2>&1)
    if echo "$output" | grep -qF 'created!'; then
        echo "changed"
        access_token=$(echo "$output" | awk '/^Access token was succ/ {print $NF}')
        echo "token {{ user.username }} $access_token"
    elif echo "$output" | grep -qF 'already exists'; then
        echo ok
    else
        echo failed
        echo "output: $output"
    fi
    echo "$output" >&2
    {% endfor %}
  register: gitea_users
  changed_when: '"changed" in gitea_users.stdout_lines'
  failed_when: '"failed" in gitea_users.stdout_lines'

- include_tasks: migrate_repo.yml
  when: gitea_users.changed
