kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: gitlab-runner-binding
  namespace: {{ ploigos_namespace }}
subjects:
  - kind: ServiceAccount
    name: gitlab-runner-sa
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ploigos-workflow-runner-gitlab