apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: {{ ploigos_namespace }}
spec:
  oidcConfig: |
    name: Red Hat SSO
    issuer: https://keycloak-{{ rhsso_project_name }}.apps.{{ subdomain }}/auth/realms/openshift
    clientID: argocd 
    clientSecret: {{ rhsso_argocd_secret }}
    requestedScopes: ["openid", "profile", "email", "groups"] 