apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: quayecosystem
  namespace: quay-enterprise
spec:
  clair:
    enabled: true
    imagePullSecretName: dummy-pull-secret
  quay:
{% if enable_quay_repo_mirroring|bool %}
    enableRepoMirroring: true
{% endif %}
    keepConfigDeployment: true
    externalAccess:
      hostname: {{ quay_route }}
      tls:
        termination: edge
      type: Route
    database:
      volumeSize: 10Gi
    imagePullSecretName: dummy-pull-secret
    registryStorage:
      persistentVolumeAccessModes:
        - ReadWriteOnce
      persistentVolumeSize: 10Gi
    securityContext:
      fsGroup: 1001
