{% for username in workshop_users|json_query("[].username") %}
- apiVersion: tekton.dev/v1alpha1
  kind: PipelineResource
  metadata:
    name: source
    namespace: {{ username }}-cicd
  spec:
    params:
      - name: url
        value: >-
          https://gitea-server-devsecops.{{ cluster_router }}/{{ username }}/openshift-tasks.git
      - name: revision
        value: 'dso4'
    type: git

- apiVersion: tekton.dev/v1alpha1
  kind: PipelineResource
  metadata:
    name: image
    namespace: {{ username }}-cicd
  spec:
    params:
      - name: url
        value: quay.{{ cluster_router }}/{{ username }}/openshift-tasks
    type: image

- apiVersion: tekton.dev/v1alpha1
  kind: PipelineResource
  metadata:
    name: internal-reg-image
    namespace: {{ username }}-cicd
  spec:
    params:
      - name: url
        value: >-
          image-registry.openshift-image-registry.svc.cluster.local:5000/{{ username }}-cicd/openshift-tasks:latest
    type: image

- kind: PersistentVolumeClaim
  apiVersion: v1
  metadata:
    name: maven-repo-pvc
    namespace: {{ username }}-cicd
  spec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 5G
    volumeMode: Filesystem
    persistentVolumeReclaimPolicy: Retain
{% endfor %}
