apiVersion: org.eclipse.che/v1
kind: CheCluster
metadata:
  name: codeready-workspaces
  namespace: {{ tssc_namespace }}
spec:
  auth:
    externalIdentityProvider: false
    openShiftoAuth: true
  database:
    externalDb: false
  k8s: {}
  server:
    cheFlavor: codeready
    selfSignedCert: false
    tlsSupport: true
    customCheProperties:
      CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT: "0"
  storage:
    preCreateSubPaths: true
    pvcClaimSize: 1Gi
    pvcStrategy: per-workspace
