apiVersion: redhatgov.io/v1alpha1
kind: Nexus
metadata:
  name: nexus
  namespace: {{ tssc_namespace }}
spec:
  persistent: true
  nexus:
    allowAnonymousAccess: true
    oauth:
      enabled: false
