apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: quayecosystem
  namespace: {{ tssc_namespace }}
spec:
  clair:
    enabled: true
    imagePullSecretName: dummy-pull-secret
  quay:
    keepConfigDeployment: true
    externalAccess:
      hostname: quay.apps.{{ full_cluster_name }}
      tls:
        termination: edge
      type: Route
    database:
      volumeSize: 10Gi
    imagePullSecretName: dummy-pull-secret
    registryStorage:
      persistentVolumeAccessModes:
        - ReadWriteOnce
      persistentVolumeSize: 10Gi
    securityContext:
      fsGroup: 1001
