apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: {{ mattermost_name }}-client
  namespace: {{ rhsso_project_name }}
  labels:
    app: {{ rhsso_app_label }}
spec:
  client:
    enabled: true
    clientAuthenticatorType: client-secret
    redirectUris: 
    - https://{{ mattermost_url }}/signup/gitlab/complete
    clientId: {{ mattermost_name }}
    name: {{ mattermost_name }}
    secret: {{ authentication.keycloak.secret }}
    standardFlowEnabled: true
    protocol: openid-connect
    protocolMappers:
      - config:
          access.token.claim: 'false'
          claim.name: id
          id.token.claim: 'false'
          jsonType.label: long
          user.attribute: mattermostId
          userinfo.token.claim: 'true'
        name: mattermostId
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
      - config:
          access.token.claim: 'false'
          claim.name: username
          id.token.claim: 'false'
          jsonType.label: String
          user.attribute: username
          userinfo.token.claim: 'true'
        name: username
        protocol: openid-connect
        protocolMapper: oidc-usermodel-property-mapper
    directAccessGrantsEnabled: false
  realmSelector:
    matchLabels:
      app: {{ rhsso_app_label }}
