apiVersion: v1
kind: Secret
metadata:
  name: quay-robot-token
  namespace: {{ quay_project_name }}
data:
  .dockerconfigjson: {{ quay_robot_docker_auth | b64encode }}
type: kubernetes.io/dockerconfigjson
