# Add keycloak client for OpenShift
- apiVersion: keycloak.org/v1alpha1
  kind: KeycloakClient
  metadata:
    name: gitea-client
    namespace: {{ rhsso_project_name }}
    labels:
      app: {{ rhsso_app_label }}
  spec:
    realmSelector:
      matchLabels:
        app: {{ rhsso_app_label }}
    client:
      clientId: {{ rhsso_gitea_client_id }}
      secret: {{ rhsso_gitea_secret }}
      name: {{ rhsso_gitea_client_id }}
      enabled: true
      clientAuthenticatorType: client-secret
      publicClient: false
      redirectUris:
        - 'https://gitea-{{ gitea_project_name }}.apps.{{ subdomain }}/*'
      rootUrl: 'https://gitea-{{ gitea_project_name }}.apps.{{ subdomain }}/'
      protocol: openid-connect
