apiVersion: mattermost.gpte.opentlc.com/v1alpha1
kind: Mattermost
metadata:
  name: mattermost
  namespace: {{ tssc_namespace }}
spec:
  database:
    drivername: postgres
    name: mattermost
    password: mattermost
    port: 5432
  authentication:
    keycloak:
      realmUrl: https://keycloak-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/auth/realms/openshift
      secret: mattermost
