apiVersion: redhatgov.io/v1alpha1
kind: Sonarqube
metadata:
  name: sonarqube
  namespace: {{ tssc_namespace }}
spec:
  persistent: true
  postgresql:
    volumeSize: 4Gi
  sonarqube:
    expose:
      kind: Route
      ssl: true
      uri: sonarqube-{{ tssc_namespace }}.apps.{{ full_cluster_name }}
    volumeSize: 4Gi
