- kind: SecurityContextConstraints
  apiVersion: security.openshift.io/v1
  metadata:
    annotations:
      kubernetes.io/description: Jenkins Workers SCC
    name: ploigos-container-builder
  allowedCapabilities:
  - SETUID
  - SETGID
  seLinuxContext:
    type: MustRunAs
  runAsUser:
    type: MustRunAsRange
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: ploigos-container-builder
    namespace: {{ ploigos_namespace }}
  rules:
  - apiGroups:
    - security.openshift.io
    resourceNames:
    - ploigos-container-builder
    resources:
    - securitycontextconstraints
    verbs:
    - use
