apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ operator_group_name | default(og_namespace + '-operatorgroup') }}
  namespace: {{ og_namespace }}
spec:
  targetNamespaces:
  - {{ og_namespace }}