step-runner-config:
  global-defaults:
    container-registries:
{% if 'quay' in (all_services_details | list) %}
      {{ all_services_details.quay.url }}:
{% else %}
      {{ all_services_details.nexus_containers.docker_url }}:
{% endif %}
        password: {{ ploigos_service_account.password }}
      registry.redhat.io:
        password: {{ rhio_token }}
  tag-source:
  - implementer: Git
    config:
      git-password: {{ ploigos_service_account.password }}
  static-code-analysis:
  - implementer: SonarQube
    config:
      password: {{ ploigos_service_account.password }}
  push-artifacts:
  - implementer: NpmPushArtifacts
    config:
      npm-password: {{ ploigos_service_account.password }}
    
  sign-container-image:
  - implementer: PodmanSign
    config:
      container-image-signer-pgp-private-key: |
        {{ (gpg_private_key | default('TODO')) | regex_replace('\n', '\n        ') }}
      container-image-signature-server-password: {{ ploigos_service_account.password }}
  deploy:
  - implementer: ArgoCD
    config:
      git-password: {{ ploigos_service_account.password }}
      argocd-password: {{ ploigos_service_account.password }}
  report:
  - implementer: ResultArtifactsArchive
    config:
      results-archive-destination-password: {{ ploigos_service_account.password }}
