apiVersion: v1
kind: Secret
metadata:
  name: {{ ploigos_service_account_secret }}
  namespace: {{ ploigos_namespace }}
data:
  username:  {{ ploigos_service_account.username | b64encode }}
  password: {{ ploigos_service_account.password | b64encode }}
  email: {{ ploigos_service_account.email | b64encode }}
  first_name: {{ ploigos_service_account.first_name | b64encode }}
  last_name: {{ ploigos_service_account.last_name | b64encode }}
