{% for machineset in machinesets|json_query("resources[]") %}
{% if machineset.spec.template.metadata.labels["machine.openshift.io/cluster-api-machine-role"] is defined and machineset.spec.template.metadata.labels["machine.openshift.io/cluster-api-machine-role"] != "workerocs" %}
- apiVersion: autoscaling.openshift.io/v1beta1
  kind: MachineAutoscaler
  metadata:
    name: '{{ machineset.metadata.name }}-autoscaler'
  spec:
    minReplicas: {{ machineset_min_replicas }}
    maxReplicas: {{ machineset_max_replicas }}
    scaleTargetRef:
      apiVersion: machine.openshift.io/v1beta1
      kind: MachineSet
      name: '{{ machineset.metadata.name }}'
{% endif %}
{% endfor %}
