---
- name: Ensure namespace exists
  k8s:
    kubeconfig: '{{ kubeconfig }}'
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: '{{ gitea_project_name }}'
        annotations:
          openshift.io/display-name: '{{ gitea_project_display }}'
      spec: {}

- name: Wait for gitea-operator package manifest to be available
  k8s_info:
    kubeconfig: '{{ kubeconfig }}'
    api_version: packages.operators.coreos.com/v1
    kind: PackageManifest
    namespace: openshift-marketplace
    name: gitea-operator
  register: gitea_package_manifest
  until: gitea_package_manifest.resources|length > 0 and (gitea_package_manifest.resources|first).status.catalogSource == "redhatgov-operators"
  retries: 5
  delay: 10

- name: Subscribe to Gitea
  k8s:
    kubeconfig: '{{ kubeconfig }}'
    definition: '{{ lookup("template", "gitea-subscription.yml.j2")|from_yaml }}'

- name: Create Gitea from a CR
  k8s:
    kubeconfig: '{{ kubeconfig }}'
    namespace: '{{ gitea_project_name }}'
    definition:
      apiVersion: redhatgov.io/v1alpha1
      kind: Gitea
      metadata:
        name: gitea-server
  register: gitea_deployment
  until: not gitea_deployment.failed
  retries: 5
  delay: 10

- name: Wait for Gitea to finish being created
  k8s_info:
    kubeconfig: '{{ kubeconfig }}'
    api_version: v1
    kind: Pod
    namespace: '{{ gitea_project_name }}'
    label_selectors:
      - app=gitea-server
  register: gitea_pod
  until: gitea_pod.resources|length > 0 and (gitea_pod.resources|first).status.phase == "Running"
  retries: 10
  delay: 30

# This is super hacky, I know... but it works for now. Will need fixing.
# Intent is to eventually clean up the operator and add more levers to the CRD.
- name: Create users in Gitea
  shell: |
    export KUBECONFIG='{{ kubeconfig }}'
    oc='{{ oc_cli }}'
    admin_user='{{ workshop_admin.username }}'
    admin_password='{{ workshop_admin.password }}'
    if [ $($oc whoami) != "$admin_user" ]; then
        $oc login --insecure-skip-tls-verify=true -u "$admin_user" -p "$admin_password" || exit 1
    fi

    {% for user in workshop_users %}
    args=(--username {{ user.username }} --password '{{ user.password }}')
    {% if user.admin is defined and user.admin %}
    args+=(--admin)
    {% endif %}
    args+=(--email '{{ user.username }}@{{ full_cluster_name }}')
    args+=(--access-token --must-change-password=false)

    pod=$($oc get pods -n {{ gitea_project_name }} -l app=gitea-server -o jsonpath='{.items[0].metadata.name}')
    echo "running: $oc exec $pod -n {{ gitea_project_name }} -- /home/gitea/gitea --config=/home/gitea/conf/app.ini admin create-user ${args[@]}"
    output=$($oc exec $pod -n {{ gitea_project_name }} -- /home/gitea/gitea --config=/home/gitea/conf/app.ini admin create-user "${args[@]}" 2>&1)
    if echo "$output" | grep -qF 'created!'; then
        echo "changed"
        access_token=$(echo "$output" | awk '/^Access token was succ/ {print $NF}')
        echo "token {{ user.username }} $access_token"
    elif echo "$output" | grep -qF 'already exists'; then
        echo ok
    else
        echo failed
        echo "output: $output"
    fi
    echo "$output" >&2
    {% endfor %}
  register: gitea_users
  changed_when: '"changed" in gitea_users.stdout_lines'
  failed_when: '"failed" in gitea_users.stdout_lines'

- include_tasks: migrate_repo.yml
  when: gitea_users.changed
