apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: {{ ploigos_namespace }}
spec:
  server:
    route:
      enabled: true
  rbac:
    defaultPolicy: 'role:readonly'
    policy: |
      g, argocd-admins, role:admin
      p, {{ ploigos_service_account.username | default('ploigos') }}, *, *, *, allow
    scopes: '[groups]'
  image: argoproj/argocd
  version: v2.1.3
