apiVersion: redhatgov.io/v1alpha1
kind: GitLab
metadata:
  name: gitlab
  namespace: {{ ploigos_namespace }}
spec:
  gitlab:
    expose:
      kind: Route
      ssl: true
      uri: gitlab-{{ ploigos_namespace }}.apps.{{ full_cluster_name }}
    volumeSize: 4Gi
    resources:
      memory:
        limit: 2Gi
  persistent: true
  postgresql:
    volumeSize: 10Gi
