apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: rhsso
  namespace: {{ ploigos_namespace }}
  labels:
    app: rhsso
spec:
  instances: 1
  externalAccess:
    enabled: True
  externalDatabase:
    enabled: False
