{% for user in rhsso_users|json_query("[?(@.nexusRole)]") %}
- apiVersion: redhatgov.io/v1alpha1
  kind: NexusUser
  metadata:
    name: {{ user.username }}
  spec:
    user:
      username: {{ user.username }}
      password: {{ user.password }}
      firstName: {{ user.firstName }}
      lastName: {{ user.lastName }}
      email: {{ user.email }}
{% endfor %}
