apiVersion: v1
kind: Secret
metadata:
  name: tssc-config-secrets
  namespace: {{ tssc_namespace }}
data:
  tssc-config-secrets.yml
    tssc-config:
      global-defaults:
        container-registries:
          quay.apps.{{ full_cluster_name }}:
            password: ENC[AES256_GCM,data:+zDR0GlH1EENV5fm0/AsN2ijy9AYocf+EJq2RlAitiU21MUpm6+NlXMjJBHpjkppybFlEDVksmOkN5tfYisXTg==,iv:YW51k3o6O6vzJLgp1+zETQGJ+g9Zcb1/J6uBPL5d8WQ=,tag:XnN1ber0blgfVNuA6lJCQw==,type:str]
        maven-servers:
          internal-mirror:
            password: ENC[AES256_GCM,data:bb4NffMvHfZ70KEGXg20NJU2,iv:FA9fi1irE0HLKGHnFr+sT6MKyRe4HQEnptI0oYrsd4c=,tag:2aQjX4kJuRM+PmwHxSyNDA==,type:str]
      tag-source:
      - implementer: Git
        config:
          password: ENC[AES256_GCM,data:K/cUB6SBFVcZH3fbw00=,iv:AklIIyom/jn9I6hyf5DSPRmnxf1HimhECVID2MYU/Ys=,tag:G4Bu6RpsZIK81wMq5JGkJw==,type:str]
      static-code-analysis:
      - implementer: SonarQube
        config:
          password: ENC[AES256_GCM,data:ZM2S7LWjvg+vvx7OsCmOjveF,iv:pBxQuQGH/1TPY5xdOCLzuS4ElftozcdooXO8Rt8i5yQ=,tag:S9mHZfcknD4xI6g7GTPmEg==,type:str]
      deploy:
      - implementer: ArgoCD
        config:
          git-password: ENC[AES256_GCM,data:Xp+Rp+XtuQoz2/E1c3M=,iv:KUUshRObjhQmpfOxZOLxxXUhJjT0TMSbHetLrWgd3C8=,tag:Giyy8UGl0Tlmq8UGadujGA==,type:str]
          argocd-password: ENC[AES256_GCM,data:wqu7RD07,iv:cER/KrwsliGR+Lq6naoNjKzxYkG0BSuRBCyPz4ctO4o=,tag:6rJzlt1iYSknQccDEVe8qA==,type:str]
