kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ _gitea_name }}-pvc"
  namespace: "{{ _gitea_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _gitea_volume_size }}"
