kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: "{{ _gitea_name }}"
  namespace: "{{ _gitea_namespace }}"
  labels:
    app: "{{ _gitea_name }}"
spec:
  to:
    kind: Service
    name: "{{ _gitea_name }}"
{% if _gitea_route != "" %}
  host: "{{ _gitea_route }}"
{% endif %}
{% if _gitea_ssl|bool %}
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
{% endif %}
