apiVersion: v1
kind: ConfigMap
metadata:
  name: ploigos-platform-config
  namespace: {{ tssc_namespace }}
data:
  config.yml: |
    step-runner-config:
      config-decryptors:
      - implementer: SOPS
      global-defaults:
        organization: platform
        maven-servers:
          internal-mirror:
            id: maven-public
            username: {{ tssc_service_account.username }}
          maven-releases:
            id: maven-releases
            username: {{ tssc_service_account.username }}
        maven-repositories:
          maven-releases:
            id: maven-releases
            url: https://nexus-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/repository/maven-releases/
            snapshots: false
            releases: true
        maven-mirrors:
          internal-mirror:
            id: maven-public
            url: https://nexus-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/repository/maven-public/
            mirror-of: '*'
        container-registries:
{% if platform_container_registry == 'quay' %}
          quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}:
{% else %}
          nexus-docker-{{ tssc_namespace }}.apps.{{ full_cluster_name }}:
{% endif %}
            username: {{ tssc_service_account.username }}
          registry.redhat.io:
            username: {{ rhio_username }}
      global-environment-defaults:
        DEV:
          kube-app-domain: dev.apps.{{ full_cluster_name }}
        TEST:
          kube-app-domain: test.apps.{{ full_cluster_name }}
        PROD:
          kube-app-domain: apps.{{ full_cluster_name }}
      generate-metadata:
      - implementer: Maven
      - implementer: Git
      - implementer: SemanticVersion
      tag-source:
      - implementer: Git
        config:
          git-username: {{ tssc_service_account.username }}
      unit-test:
      - implementer: Maven
        config: {
        }
      package:
      - implementer: Maven
        config: {
        }
      static-code-analysis:
      - implementer: SonarQube
        config:
          url: https://sonarqube-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/
          username: {{ tssc_service_account.username }}
      push-artifacts:
      - implementer: Maven
        config:
          maven-push-artifact-repo-id: maven-releases
          maven-push-artifact-repo-url: https://nexus-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/repository/maven-releases
      create-container-image:
      - implementer: Buildah
        config:
          destination: localhost/tssc-reference-app-quarkus-rest-json
      push-container-image:
      - implementer: Skopeo
        config:
          source: docker-archive:backend.tar
{% if platform_container_registry == 'quay' %}
          destination-url: quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}
{% else %}
          destination-url: nexus-docker-{{ tssc_namespace }}.apps.{{ full_cluster_name }}
{% endif %}
      sign-container-image:
      - implementer: PodmanSign
        config: {}
      - implementer: CurlPush
        config:
          container-image-signature-server-url: https://nexus-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/repository/container-image-signatures
          container-image-signature-server-username: tssc
      container-image-static-compliance-scan:
      # sample scans using DataStream file (preferred)
      - name: OpenSCAP - Compliance - Example Compliance Profile for UBI8 Container Images [Based on xccdf_org.ssgproject.content_profile_standard]
        implementer: OpenSCAP
        config:
          oscap-input-definitions-uri: https://atopathways.redhatgov.io/compliance-as-code/scap/ssg-rhel8-ds.xml
          oscap-tailoring-uri: https://raw.githubusercontent.com/ploigos/ploigos-example-oscap-content/main/xccdf_com.redhat.ploigos_profile_example_ubi8-tailoring-xccdf.xml
          oscap-profile: xccdf_com.redhat.ploigos_profile_example_ubi8
      container-image-static-vulnerability-scan:
      # sample vulnerability scan using XCCDF file (preferred)
      - name: OpenSCAP - Vulnerability - DataStream
        implementer: OpenSCAP
        config:
          oscap-input-definitions-uri: https://www.redhat.com/security/data/metrics/ds/v2/RHEL8/rhel-8.ds.xml.bz2
      deploy:
      - implementer: ArgoCD
        config:
          argocd-api: argocd-server.{{ tssc_namespace }}.svc.cluster.local
          argocd-username: {{ tssc_service_account.username }}
          argocd-skip-tls: True
          deployment-config-helm-chart-path: charts/reference-quarkus-mvn-deploy
          deployment-config-repo: http://gitea.{{ tssc_namespace }}.svc.cluster.local:3000/platform/reference-quarkus-mvn-cloud-resources_jenkins_workflow-standard.git
          deployment-config-helm-chart-values-file-image-tag-yq-path: 'image.tag'
          git-username: {{ tssc_service_account.username }}
          git-email: 'napsspo+tssc@redhat.com'
          argocd-sync-timeout-seconds: 130
          environment-config:
            DEV:
              deployment-config-helm-chart-environment-values-file: values-DEV.yaml
            TEST:
              deployment-config-helm-chart-environment-values-file: values-TEST.yaml
            PROD:
              deployment-config-helm-chart-environment-values-file: values-PROD.yaml
      validate-environment-configuration:
      - implementer: ConfiglintFromArgocd
      - implementer: Configlint
        config:
          rules: cicd/ValidateEnv/
      uat:
      - implementer: MavenSeleniumCucumber
        config: {
          selenium-hub-url: http://selenium-grid.{{ tssc_namespace }}.svc.cluster.local:4444
        }

