tssc-config:
  global-defaults:
    container-registries:
      quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}:
        password: {{ tssc_service_account.password }}
      registry.redhat.io:
        password: {{ rhio_token }}
    maven-servers:
      maven-releases:
        password: {{ tssc_service_account.password }}
      internal-mirror:
        password: {{ tssc_service_account.password }}
  tag-source:
  - implementer: Git
    config:
      password: {{ tssc_service_account.password }}
  static-code-analysis:
  - implementer: SonarQube
    config:
      password: {{ tssc_service_account.password }}
  sign-container-image:
  - implementer: PodmanSign
    config:
      container-image-signer-pgp-private-key: |
        {{ (gpg_private_key | default('TODO')) | regex_replace('\n', '\n        ') }}
  - implementer: CurlPush
    config:
      container-image-signature-server-password: {{ tssc_service_account.password }}
  deploy:
  - implementer: ArgoCD
    config:
      git-password: {{ tssc_service_account.password }}
      argocd-password: {{ tssc_service_account.password }}
