apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: {{ argocd_project_name }}
spec:
  server:
    route:
      tls:
        destinationCACertificate: |
{{ argocd_ca_cert | indent( width=10, indentfirst=True)}}
