apiVersion: v1
kind: ConfigMap
metadata:
  name: tssc-config
  namespace: {{ tssc_namespace }}
data:
  tssc-config.yml: |
    tssc-config:
      config-decryptors:
      - implementer: SOPS
      global-defaults:
        service-name: fruit
        application-name: reference-quarkus-mvn-jenkins
        organization: tssc-team
        argocd-api: argocd.{{ tssc_namespace }}.cluster.svc.local
        maven-servers:
          internal-mirror:
            id: internal-server
            username: {{ tssc_service_account.username }}
        maven-mirrors:
          internal-mirror:
            id: internal-mirror
            url: https://nexus-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/repository/maven-public/
            mirror-of: '*'
        container-registries:
            quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}:
                username: {{ tssc_service_account.username }}
      global-environment-defaults:
        DEV:
          kube-app-domain: dev.apps.{{ full_cluster_name }}
        TEST:
          kube-app-domain: test.apps.{{ full_cluster_name }}
        PROD:
          kube-app-domain: apps.{{ full_cluster_name }}
      generate-metadata:
      - implementer: Maven
      - implementer: Git
      - implementer: SemanticVersion
      tag-source:
      - implementer: Git
        config:
          username: {{ tssc_service_account.username }}
      unit-test:
      - implementer: Maven
        config: {
        }
      package:
      - implementer: Maven
        config: {
        }
      static-code-analysis:
      - implementer: SonarQube
        config:
          url: https://sonarqube-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/
          user: reference-apps-sa
      push-artifacts:
      - implementer: Maven
        config:
          maven-push-artifact-repo-id: internal-server
          maven-push-artifact-repo-url: https://nexus-{{ tssc_namespace }}.apps.{{ full_cluster_name }}/repository
      create-container-image:
      - implementer: Buildah
        config:
          destination: localhost/tssc-reference-app-quarkus-rest-json
      push-container-image:
      - implementer: Skopeo
        config:
          source: docker-archive:backend.tar
          destination-url: quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}
      container-image-static-compliance-scan:
      - implementer: OpenSCAP
        config:
          scap-input-file: /usr/share/xml/scap/ssg/content/ssg-jre-oval.xml
      deploy:
      - implementer: ArgoCD
        config:
          git-email: 'napsspo+tssc@redhat.com'
          helm-config-repo: http://gitea.{{ tssc_namespace }}.svc.cluster.local:3000/tssc-references/reference-quarkus-mvn-jenkins-config.git
          num-replicas: 1
          route-enabled: true
          readiness-probe-path: /fruits
          liveness-probe-path: /fruits
          destination-url: docker://quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}
          argocd-username: {{ tssc_service_account.username }}
          git-username: {{ tssc_service_account.username }}
      validate-environment-configuration:
      - implementer: ConfiglintFromArgocd
      - implementer: Configlint
        config:
          rules: cicd/ValidateEnv/
      uat:
      - implementer: Maven
        config: {
          selenium-hub-url: http://selenium-grid.{{ tssc_namespace }}.svc.cluster.local:4444
        }

