tssc-config:
  global-defaults:
    container-registries:
      quay.apps.{{ full_cluster_name }}:
        password: {{ tssc_service_account.password }}
    maven-servers:
      internal-mirror:
        password: {{ tssc_service_account.password }}
  tag-source:
  - implementer: Git
    config:
      password: {{ tssc_service_account.password }}
  static-code-analysis:
  - implementer: SonarQube
    config:
      password: {{ tssc_service_account.password }}
  deploy:
  - implementer: ArgoCD
    config:
      git-password: {{ tssc_service_account.password }}
      argocd-password: {{ tssc_service_account.password }}
