apiVersion: v1
kind: Secret
metadata:
  name: {{ tssc_service_account_secret }}
  namespace: {{ tssc_namespace }}
data:
  username:  {{ tssc_service_account.username | b64encode }}
  password: {{ tssc_service_account.password | b64encode }}
  email: {{ tssc_service_account.email | b64encode }}
  first_name: {{ tssc_service_account.first_name | b64encode }}
  last_name: {{ tssc_service_account.last_name | b64encode }}
