{% for username in workshop_users|json_query("[].username") %}
- apiVersion: jenkins.io/v1alpha2
  kind: Jenkins
  metadata:
    annotations:
      jenkins.io/openshift-mode: 'true'
      serviceaccounts.openshift.io/oauth-redirectreference.jenkins: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"user1-jenkins"}}'
    generation: 1
    name: {{ username }}-jenkins
    namespace: {{ username }}-cicd
  spec:
    backup:
      action: {}
      containerName: ''
      interval: 0
      makeBackupBeforePodDeletion: false
    configurationAsCode:
      #configurations: 
      #- name: jenkins-configuration-as-code
      secret:
        name: ''
    groovyScripts:
      configurations: null
      secret:
        name: ''
    master:
      basePlugins:
        - name: kubernetes
          version: 1.18.3
        - name: workflow-job
          version: '2.34'
        - name: workflow-aggregator
          version: '2.6'
        - name: git
          version: 3.12.0
        - name: job-dsl
          version: '1.76'
        - name: configuration-as-code
          version: '1.29'
        - name: configuration-as-code-support
          version: '1.19'
        - name: kubernetes-credentials-provider
          version: 0.12.1
      containers:
        - command:
            - /usr/bin/go-init
            - '-main'
            - /usr/libexec/s2i/run
          env:
            # Read the configuration-as-code from the ConfigMap
            #- name: CASC_JENKINS_CONFIG
            #  value: /var/jenkins_config/configuration-as-code.yaml
            - name: OPENSHIFT_ENABLE_OAUTH
              value: 'true'
            - name: OPENSHIFT_ENABLE_REDIRECT_PROMPT
              value: 'true'
            - name: DISABLE_ADMINISTRATIVE_MONITORS
              value: 'false'
            - name: KUBERNETES_MASTER
              value: 'https://kubernetes.default:443'
            - name: KUBERNETES_TRUST_CERTIFICATES
              value: 'true'
            - name: JENKINS_SERVICE_NAME
              value: jenkins-operator-http-{{ username }}-jenkins
            - name: JNLP_SERVICE_NAME
              value: jenkins-operator-slave-{{ username }}-jenkins
            - name: JENKINS_UC_INSECURE
              value: 'false'
            - name: JENKINS_HOME
              value: /var/lib/jenkins
            - name: JAVA_OPTS
              value: >-
                -XX:+UnlockExperimentalVMOptions -XX:+UnlockExperimentalVMOptions
                -XX:+UseCGroupMemoryLimitForHeap -XX:MaxRAMFraction=1
                -Djenkins.install.runSetupWizard=false -Djava.awt.headless=true
          image: 'quay.io/openshift/origin-jenkins:latest'
          imagePullPolicy: Always
          #volumeMounts:
          #  - name: jenkins-configuration-as-code
          #    mountPath: /var/jenkins_config
          livenessProbe:
            httpGet:
              path: /login
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 420
            periodSeconds: 360
            timeoutSeconds: 240
          name: jenkins-master
          readinessProbe:
            httpGet:
              path: /login
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 0
            timeoutSeconds: 240
          resources:
            limits:
              cpu: 600m
              memory: 4Gi
            requests:
              cpu: 500m
              memory: 3Gi
      #volumes:
      # The configuration-as-code ConfigMap
      #- name: jenkins-configuration-as-code
      #  configMap:
      #    name: jenkins-configuration-as-code
    restore:
      action: {}
      containerName: ''
    service:
      port: 8080
      type: ClusterIP
    slaveService:
      port: 50000
      type: ClusterIP

- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: '{{ username }}-cicd-jenkins-edit'
    namespace: '{{ username }}-cicd'
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: edit
  subjects:
  - kind: ServiceAccount
    name: 'jenkins-operator-{{ username }}-cicd'
    namespace: '{{ username }}-cicd'

- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: jenkins-operator-{{ username }}-jenkins
    namespace: '{{ username }}-cicd'
    annotations:
      serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ username }}-jenkins-{{ username }}-cicd"}}'
{% endfor %}
