apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-configuration-as-code
data:
  configuration-as-code.yaml: |
    jenkins:
      clouds:
        - kubernetes:
            name: openshift
            serverUrl: "https://kubernetes.default:443"
            namespace: "user1-cicd"
            jenkinsUrl: "http://jenkins-operator-http-user1-jenkins.user1-cicd.svc.cluster.local:8080"
            jenkinsTunnel: "jenkins-operator-slave-user1-jenkins:50000"
            readTimeout: 20
            maxRequestsPerHostStr: 100
            podLabels:
              - key: jenkins
                value: slave
            templates:
              - name: maven
                label: maven
                containers:
                - name: "jnlp"
                  image: "image-registry-.openshift-image-registry.svc:5000/openshift/jenkins-agent-maven:latest"
                  alwaysPullImage: true
                  workingDir: "/tmp"
                  ttyEnabled: true
                  #resourceRequestCpu: "500m"
                  #resourceLimitCpu: "1000m"
                  #resourceRequestMemory: "1Gi"
                  #resourceLimitMemory: "2Gi"
                  ttyEnabled: false
                  command: " "
                  args: "\${computer.jnlpmac} \${computer.name}"