- kind: SecurityContextConstraints
  apiVersion: security.openshift.io/v1
  metadata:
    annotations:
      kubernetes.io/description: Jenkins Workers SCC
    name: run-as-user-1001
  runAsUser:
    type: MustRunAsRange
    uidRangeMax: 1001
    uidRangeMin: 1001
  seLinuxContext:
    type: MustRunAs
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: run-as-user-1001
    namespace: {{ tssc_namespace }}
  rules:
  - apiGroups:
    - security.openshift.io
    resourceNames:
    - run-as-user-1001
    resources:
    - securitycontextconstraints
    verbs:
    - use
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: jenkins-run-as-user-1001
    namespace: {{ tssc_namespace }}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: run-as-user-1001
  subjects:
  - kind: ServiceAccount
    name: jenkins
    namespace: {{ tssc_namespace }}
