apiVersion: mattermost.gpte.opentlc.com/v1alpha1
kind: Mattermost
metadata:
  name: "{{ mattermost_name }}"
  namespace: "{{ mattermost_namespace }}"
spec:
  database:
    drivername: "{{ database.drivername }}"
    name: "{{ database.name }}"
    password: "{{ database.password }}"
    port: "{{ database.port }}"
{% if mattermost.configStorage.persistentVolumeSize is defined or mattermost.logStorage.persistentVolumeSize is defined or mattermost.dataStorage.persistentVolumeSize is defined or mattermost.pluginStorage.persistentVolumeSize is defined %}
  mattermost:
{% if mattermost.configStorage.persistentVolumeSize is defined %}
    configStorage:
      persistentVolumeSize: "{{ mattermost.configStorage.persistentVolumeSize }}"
{% endif %}
{% if mattermost.dataStorage.persistentVolumeSize is defined %}
    dataStorage:
      persistentVolumeSize: "{{ mattermost.dataStorage.persistentVolumeSize }}"
{% endif %}
{% if mattermost.logStorage.persistentVolumeSize is defined %}
    logStorage:
      persistentVolumeSize: "{{ mattermost.logStorage.persistentVolumeSize }}"
{% endif %}
{% if mattermost.pluginStorage.persistentVolumeSize is defined %}
    pluginStorage:
      persistentVolumeSize: "{{ mattermost.pluginStorage.persistentVolumeSize }}"
{% endif %}
{% endif %}
{% if authentication.keycloak.realmUrl is defined %}
  authentication:
    keycloak:
      realmUrl: "{{ authentication.keycloak.realmUrl }}"
      secret: "{{ authentication.keycloak.secret }}"
{% endif %}
