apiVersion: v1
kind: Secret
metadata:
  name: {{ database_secret_name }}
  namespace: {{ rhsso_project_name }}
stringData:
  POSTGRES_DATABASE: "{{ postgresql_database }}"
  POSTGRES_PASSWORD: "{{ pg_password }}"
  POSTGRES_USERNAME: "{{ postgresql_user }}"
  POSTGRES_SUPERUSER: "true"
  POSTGRES_EXTERNAL_ADDRESS: "{{ database_service_name }}.{{ rhsso_project_name }}.svc.cluster.local"
  POSTGRES_EXTERNAL_PORT: "5432"
