# RH-SSO Deployment
- apiVersion: keycloak.org/v1alpha1
  kind: Keycloak
  metadata:
    name: {{ rhsso_app_name }}
    namespace: {{ rhsso_project_name }}
    labels:
      app: {{ rhsso_app_label }}
  spec:
    instances: 1
    externalAccess:
      enabled: True
    externalDatabase:
      enabled: True
