apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: {{ tssc_namespace }}
spec:
  grafana:
    enabled: true
    route:
      enabled: true
    image: grafana/grafana
    version: sha256:bdef6f27255a09deb2f89741b3800a9a394a7e9eefa032570760e5688dd00a2f
  prometheus:
    enabled: true
    route:
      enabled: true
  server:
    route:
      enabled: true
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: reencrypt
  rbac:
    defaultPolicy: 'role:readonly'
    policy: |
      g, argocd-admins, role:admin
      p, {{ tssc_service_account.username }}, *, *, *, allow
    scopes: '[groups]'
  dex:
    image: quay.io/redhat-cop/dex
    openShiftOAuth: true
    version: v2.22.0-openshift
  redis:
    image: redis
    version: sha256:b33e5a3c00e5794324fad2fab650eadba0f65e625cc915e4e57995590502c269
