apiVersion: redhatgov.io/v1alpha1
kind: Nexus
metadata:
  name: nexus
  namespace: {{ tssc_namespace }}
spec:
  persistent: true
  nexus:
    allowAnonymousAccess: true
    oauth:
      enabled: true
      bypassAuthFor:
      - '/repository'
    expose:
      ssl: true
      kind: Route
    image:
      src: registry.connect.redhat.com/sonatype/nexus-repository-manager
      tag: latest
      pullPolicy: IfNotPresent
    volumeSize: 10Gi
