apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: quayecosystem
  namespace: {{ tssc_namespace }}
spec:
  clair:
    enabled: false
  quay:
    externalAccess:
      hostname: quay-{{ tssc_namespace }}.apps.{{ full_cluster_name }}
      tls:
        termination: edge
    imagePullSecretName: dummy-pull-secret
    database:
      image: registry.redhat.io/rhscl/postgresql-96-rhel7
      volumeSize: 10Gi
    registryStorage:
      persistentVolumeSize: 10Gi
      persistentVolumeAccessModes:
        - ReadWriteOnce
    securityContext:
      fsGroup: 1001
  redis:
    image: 'registry.redhat.io/rhscl/redis-32-rhel7:latest'
