---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gitlab-ci-pvc
  namespace: {{ ploigos_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  volumeMode: Filesystem