- apiVersion: org.eclipse.che/v1
  kind: CheCluster
  metadata:
    name: codeready-workspaces
    namespace: {{ crw_project_name }}
  spec:
    auth:
      externalIdentityProvider: false
      openShiftoAuth: true
    database:
      externalDb: false
    k8s: {}
    server:
      cheFlavor: codeready
{% if byo_cert_fullchain_path is defined  and byo_cert_fullchain_path != "" %}
      selfSignedCert: true
      serverTrustStoreConfigMapName: crw-trust
{% else %}
      selfSignedCert: false
{% endif %}
      tlsSupport: true
      customCheProperties:
        CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT: "0"
    storage:
      preCreateSubPaths: true
      pvcClaimSize: 1Gi
      pvcStrategy: per-workspace

{% if byo_cert_fullchain_path is defined  and byo_cert_fullchain_path != "" %}
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: crw-trust
    namespace: {{ crw_project_name }}
  data:
    crc.crt: |
{{ lookup("file", byo_cert_fullchain_path)|indent(6, true) }}
{% endif %}
