---
metadata:
  name: java-eap-maven-{{ user.username }}
projects:
- name: openshift-tasks
  source:
    type: git
    location: https://gitea-server-{{ crw_project_name }}.{{ cluster_router }}/{{ user.username }}/openshift-tasks.git
    branch: dso4
components:
- id: redhat/java8/latest
  type: chePlugin
- id: redhat/dependency-analytics/latest
  type: chePlugin
- mountSources: true
  endpoints:
  - name: eap
    port: 8080
  memoryLimit: 1024Mi
  type: dockerimage
  volumes:
  - name: m2
    containerPath: "/home/jboss/.m2"
  alias: maven
  image: registry.redhat.io/jboss-eap-7/eap73-openjdk8-openshift-rhel7:latest
  env:
  - value: >-
      -Xmx200m -XX:MaxRAMPercentage=50.0 -XX:+UseParallelGC
      -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4
      -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true
      -Xms20m -Djava.security.egd=file:/dev/./urandom -Duser.home=/home/jboss
    name: MAVEN_OPTS
  - value: >-
      -Xrunjdwp:transport=dt_socket,address=8000,server=y,suspend=n
      -Dsun.util.logging.disableCallerCheck=true
    name: JAVA_OPTS_APPEND
apiVersion: 1.0.0
