{% for username in workshop_users|json_query("[].username") %}
- apiVersion: tekton.dev/v1alpha1
  kind: PipelineRun
  metadata:
    labels:
      tekton.dev/pipeline: build-test-deploy-app-to-dev
    name: build-test-deploy-app-to-dev-1
    namespace: {{ username }}-cicd
  spec:
    pipelineRef:
      name: build-test-deploy-app-to-dev
    resources:
      - name: app-git
        resourceRef:
          name: source
    serviceAccountName: pipeline
    timeout: 1h0m0s
    workspaces:
      - name: local-maven-repo
        persistentVolumeClaim:
          claimName: maven-repo-pvc

- apiVersion: tekton.dev/v1alpha1
  kind: PipelineRun
  metadata:
    labels:
      tekton.dev/pipeline: app-s2i-build
    name: app-s2i-build-1
    namespace: {{ username }}-cicd
  spec:
    pipelineRef:
      name: app-s2i-build
    resources:
      - name: app-git
        resourceRef:
          name: source
      - name: app-image
        resourceRef:
          name: internal-reg-image
    serviceAccountName: pipeline
    timeout: 1h0m0s
{% endfor %}
