{% for user in workshop_users %}
{% for project in projects|json_query("[].name") %}
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ user.username }}-{{ project }}-quay-reg
    namespace: {{ user.username }}-{{ project }}
    # note - the secret needs this annotation for the pipeline to use it to push to quay
    annotations:
      tekton.dev/docker-0: quay.{{ cluster_router }}/{{ user.username }}
  type: kubernetes.io/basic-auth
  stringData:
    username: {{ user.username }}
    password: {{ user.password }}

- apiVersion: v1
  kind: Secret
  metadata:
    name: quay-reg-pull-secret
    namespace: {{ user.username }}-{{ project }}
    # note - the secret needs this annotation for the pipeline to use it to push to quay
    annotations:
      tekton.dev/docker-0: quayecosystem-quay.quay-enterprise.svc.cluster.local:443/{{ user.username }}
  type: kubernetes.io/basic-auth
  stringData:
    username: {{ user.username }}
    password: {{ user.password }}
{% endfor %}
{% endfor %}
