{% for user in workshop_users %}
- apiVersion: v1
  kind: Secret
  metadata:
    name: registry-rhio-pull-secret
    namespace: {{ user.username }}-cicd
  data:
    .dockerconfigjson: {{ reg_rhio_pull_token }}
  type: kubernetes.io/dockerconfigjson
{% endfor %}
