apiVersion: authorization.openshift.io/v1
kind: ClusterRoleBinding
metadata:
  name: argocd-{{ argocd_project_name}}-cluster-admin
roleRef:
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: argocd-application-controller
  namespace: {{ argocd_project_name }}
