apiVersion: v1
kind: Secret
metadata:
  name: rocketchat-secret
type: Opaque
data:
  username: "{{ 'admin' | b64encode }}"
  password: "{{ rocketchat_password | b64encode }}"
  email: "{{ 'admin@example.com' | b64encode }}"
